{
    email {$ACME_EMAIL}
    acme_dns cloudflare {$CF_DNS_API_TOKEN}
}

{$BASE_DOMAIN}:{$EMBY_HTTPS_PORT} {
    reverse_proxy emby:8096
}

{$BASE_DOMAIN}:{$QBIT_HTTPS_PORT} {
    reverse_proxy qbittorrent:8080
}

{$BASE_DOMAIN}:{$OPENLIST_HTTPS_PORT} {
    reverse_proxy openlist:5244
}

{$BASE_DOMAIN}:{$DIFY_HTTPS_PORT} {
    reverse_proxy {$DIFY_UPSTREAM}
}

{$BASE_DOMAIN}:{$PORTAINER_HTTPS_PORT} {
    reverse_proxy {$PORTAINER_UPSTREAM} {
        transport http {
            tls_insecure_skip_verify
        }
    }
}
